@font-face{ font-family:'slayer';
src:url("../fonte/slayer11.TTF")}
body {
    
    margin: 0;
    padding: 0;
    font-family: slayer;
}


.header{
    background-color: #FFF67B;
    color: black;
    border-bottom: 3px solid #000000;
    position: fixed;
    width: 100%;
    z-index: 1;
 
}

.container{
    width: 90%;
    margin: 0 auto;


}
.gif{
    display: flex;
    justify-content: left;
    align-items: center;
    float: left;
}
.titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: left;
    

}
.gif_navbar{
    height: 100px;
    width: 100px;


}

.header .container{
    display: flex;
    justify-content:space-between;
}
.navbar{
   
    display: flex;
    justify-content: space-between;
    width: 550px;
    align-items: center;
}
.navbar a{
    color: black;
    text-decoration: none;

}
.card_icon{
    height: 300px;
    width: 100%;
    
}
.banner{
    background-image:url('../Imagens/1079551.png');
    background-size: cover;
    height: 100vh;
    border-bottom: 3px solid #000000;
}
.card_informativo{
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
    color: rgb(39, 39, 39);
    
}
.div_foto{
    display: flex;
    align-items: center;
    justify-content: center;

}
    .foto_banner{
  
        border-radius: 20px;
        
        
    }
/* Login */ 
.banner_login{
    width: 100%;
    height: 1000px;
    background-color: #fb634f;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #000000;

}
.card_login{
    height: 100%;
    width: 100%;
    border-radius: 8px;
    
    
}
/* card de erro*/
.card_erro {
    display: none;
    background-color: #fff;
    color: black;
    width: 230px;
    position: fixed;
    border-radius: 4px;
    border: #FFF67B 3px solid;
    padding: 10px;
    margin-right: 10%;
    font-family: sans-serif;
  }
  
  .card_erro #mensagem_erro{
    font-weight: 500;
    font-size: 20px;
  }
.card_imagem{
    height:1000px;
    background-image: url('../Imagens/1005531.jpg');
    background-size: cover;
    width: 50%;
    float: left;
    border-radius: 8px;
    
    
}
.card_login .tela_login{
    
    width: 50%;
    background-color:white;
    float: right;
    border-radius: 8px;
    position: relative;
    left: -170px;
    top: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    

}
.input{
    border-radius: 8px;
    width: 150px;
    height: 20px;
}

.card_banner{
    background-color: #fb634f;
    height: 750px;
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;
}
#select{
    background-color:rgb(145, 196, 241);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    height: 30px;

}
.botao{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    height: 30px;

}

#resultado{
    font-family: sans-serif;
    width: 90%;
}
.footer{
    background-color: #FFF67B;
    height: 200px;
    display: flex;

    
}
.footer .container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace

}
/*Cadastro*/

.imagem_cadastro{
    background-image: url('../Imagens/1000030.jpg');
    background-size: cover;
    height: 900px;
    position: relative;
    bottom: -100px;
    display: flex;


}
.tela_cadastro{
    width: 550px;
    height: 450px;
    background-color:white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: 130px;
    left:95%

}
#select_hashira{
    background-color:#FFF67B;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    height: 30px;
}